(
  nodes:{
    Dual(Inner(1)):(neighs:[Primal(Primitive(FixedDot(2))),Dual(Inner(6)),Primal(Primitive(FixedDot(4))),Dual(Inner(2)),Primal(Primitive(FixedDot(10))),Dual(Inner(3))],open_direction:None),
    Dual(Inner(2)):(neighs:[Dual(Inner(5)),Primal(Primitive(FixedDot(8))),Dual(Inner(4)),Primal(Primitive(FixedDot(10))),Dual(Inner(1)),Primal(Primitive(FixedDot(4)))],open_direction:None),
    Dual(Inner(3)):(neighs:[Primal(Primitive(FixedDot(2))),Dual(Inner(1)),Primal(Primitive(FixedDot(10))),Dual(Inner(4)),Primal(Primitive(FixedDot(6))),Dual(Outer(13))],open_direction:None),
    Dual(Inner(4)):(neighs:[Primal(Primitive(FixedDot(10))),Dual(Inner(2)),Primal(Primitive(FixedDot(8))),Dual(Outer(15)),Primal(Primitive(FixedDot(6))),Dual(Inner(3))],open_direction:None),
    Dual(Inner(5)):(neighs:[Dual(Outer(19)),Primal(Primitive(FixedDot(8))),Dual(Inner(2)),Primal(Primitive(FixedDot(4))),Dual(Inner(6)),Primal(Primitive(FixedDot(0)))],open_direction:None),
    Dual(Inner(6)):(neighs:[Primal(Primitive(FixedDot(0))),Dual(Inner(5)),Primal(Primitive(FixedDot(4))),Dual(Inner(1)),Primal(Primitive(FixedDot(2))),Dual(Outer(21))],open_direction:None),
    Dual(Outer(13)):(neighs:[Dual(Outer(21)),Dual(Inner(3)),Primal(Primitive(FixedDot(6))),Dual(Outer(15))],open_direction:Some((x:-0.000000000014551915228366852,y:-13970.0))),
    Dual(Outer(15)):(neighs:[Primal(Primitive(FixedDot(8))),Dual(Outer(19)),Dual(Outer(13)),Dual(Inner(4))],open_direction:Some((x:-7620.0,y:635.0))),
    Dual(Outer(19)):(neighs:[Dual(Outer(15)),Dual(Inner(5)),Primal(Primitive(FixedDot(0))),Dual(Outer(21))],open_direction:Some((x:0.000000000014551915228366852,y:13970.0))),
    Dual(Outer(21)):(neighs:[Dual(Outer(19)),Dual(Inner(6)),Primal(Primitive(FixedDot(2))),Dual(Outer(13))],open_direction:Some((x:7620.0,y:-635.0))),
    Primal(Primitive(FixedDot(0))):(neighs:[Dual(Outer(19)),Dual(Inner(5)),Dual(Inner(6))],open_direction:None),
    Primal(Primitive(FixedDot(2))):(neighs:[Dual(Outer(21)),Dual(Inner(6)),Dual(Inner(1)),Dual(Inner(3))],open_direction:None),
    Primal(Primitive(FixedDot(4))):(neighs:[Dual(Inner(6)),Dual(Inner(5)),Dual(Inner(2)),Dual(Inner(1))],open_direction:None),
    Primal(Primitive(FixedDot(6))):(neighs:[Dual(Inner(4)),Dual(Outer(13)),Dual(Inner(3))],open_direction:None),
    Primal(Primitive(FixedDot(8))):(neighs:[Dual(Inner(2)),Dual(Inner(5)),Dual(Outer(15)),Dual(Inner(4))],open_direction:None),
    Primal(Primitive(FixedDot(10))):(neighs:[Dual(Inner(2)),Dual(Inner(4)),Dual(Inner(3)),Dual(Inner(1))],open_direction:None)
  },
  edges:{
    (Dual(Inner(1)),Dual(Inner(2))):(paths:[],weight:13342.493438320249),
    (Dual(Inner(1)),Dual(Inner(3))):(paths:[],weight:854.5080618564726),
    (Dual(Inner(1)),Dual(Inner(6))):(paths:[],weight:9463.450638488148),
    (Dual(Inner(1)),Primal(Primitive(FixedDot(2)))):(paths:[],weight:7255.50060560296),
    (Dual(Inner(1)),Primal(Primitive(FixedDot(4)))):(paths:[],weight:7255.5006056029515),
    (Dual(Inner(1)),Primal(Primitive(FixedDot(10)))):(paths:[],weight:7255.5006056029415),
    (Dual(Inner(2)),Dual(Inner(4))):(paths:[(Primitive(FixedDot(0)),Primitive(FixedDot(6)))],weight:9463.450638488148),
    (Dual(Inner(2)),Dual(Inner(5))):(paths:[(Primitive(FixedDot(0)),Primitive(FixedDot(6)))],weight:854.5080618564726),
    (Dual(Inner(2)),Primal(Primitive(FixedDot(4)))):(paths:[(Primitive(FixedDot(4)),Primitive(FixedDot(10)))],weight:7255.5006056029415),
    (Dual(Inner(2)),Primal(Primitive(FixedDot(8)))):(paths:[],weight:7255.50060560296),
    (Dual(Inner(2)),Primal(Primitive(FixedDot(10)))):(paths:[(Primitive(FixedDot(4)),Primitive(FixedDot(10)))],weight:7255.5006056029515),
    (Dual(Inner(3)),Dual(Inner(4))):(paths:[],weight:9794.094419218618),
    (Dual(Inner(3)),Dual(Outer(13))):(paths:[],weight:10315.419947506583),
    (Dual(Inner(3)),Primal(Primitive(FixedDot(2)))):(paths:[],weight:7883.284871174122),
    (Dual(Inner(3)),Primal(Primitive(FixedDot(6)))):(paths:[],weight:7883.284871174128),
    (Dual(Inner(3)),Primal(Primitive(FixedDot(10)))):(paths:[],weight:7883.284871174124),
    (Dual(Inner(4)),Dual(Outer(15))):(paths:[],weight:7945.163814846131),
    (Dual(Inner(4)),Primal(Primitive(FixedDot(6)))):(paths:[(Primitive(FixedDot(0)),Primitive(FixedDot(6)))],weight:3834.860957550632),
    (Dual(Inner(4)),Primal(Primitive(FixedDot(8)))):(paths:[],weight:3834.8609575506225),
    (Dual(Inner(4)),Primal(Primitive(FixedDot(10)))):(paths:[],weight:3834.8609575506225),
    (Dual(Inner(5)),Dual(Inner(6))):(paths:[(Primitive(FixedDot(2)),Primitive(FixedDot(8)))],weight:9794.094419218618),
    (Dual(Inner(5)),Dual(Outer(19))):(paths:[],weight:10315.419947506569),
    (Dual(Inner(5)),Primal(Primitive(FixedDot(0)))):(paths:[(Primitive(FixedDot(0)),Primitive(FixedDot(6)))],weight:7883.284871174128),
    (Dual(Inner(5)),Primal(Primitive(FixedDot(4)))):(paths:[],weight:7883.284871174124),
    (Dual(Inner(5)),Primal(Primitive(FixedDot(8)))):(paths:[(Primitive(FixedDot(2)),Primitive(FixedDot(8)))],weight:7883.284871174122),
    (Dual(Inner(6)),Dual(Outer(21))):(paths:[],weight:7945.163814846131),
    (Dual(Inner(6)),Primal(Primitive(FixedDot(0)))):(paths:[],weight:3834.860957550632),
    (Dual(Inner(6)),Primal(Primitive(FixedDot(2)))):(paths:[(Primitive(FixedDot(2)),Primitive(FixedDot(8)))],weight:3834.8609575506225),
    (Dual(Inner(6)),Primal(Primitive(FixedDot(4)))):(paths:[],weight:3834.8609575506225),
    (Dual(Outer(13)),Dual(Outer(15))):(paths:[],weight:23307.614233335862),
    (Dual(Outer(13)),Dual(Outer(21))):(paths:[],weight:22729.54093795121),
    (Dual(Outer(13)),Primal(Primitive(FixedDot(6)))):(paths:[],weight:15618.934822836045),
    (Dual(Outer(15)),Dual(Outer(19))):(paths:[],weight:22729.5409379512),
    (Dual(Outer(15)),Primal(Primitive(FixedDot(8)))):(paths:[],weight:8548.949131326026),
    (Dual(Outer(19)),Dual(Outer(21))):(paths:[],weight:23307.61423333585),
    (Dual(Outer(19)),Primal(Primitive(FixedDot(0)))):(paths:[],weight:15618.93482283603),
    (Dual(Outer(21)),Primal(Primitive(FixedDot(2)))):(paths:[],weight:8548.949131326026)
  }
)
